<div class="mb-8">
  <%= render 'account/shared/alert' do %>
    <%= t('billing/umbrella/subscriptions.teaser.intro').html_safe %>
    <%= link_to t('billing/umbrella/subscriptions.teaser.link'), [:new, :account, current_team, :billing, :umbrella, :subscription]  %>
  <% end %>
</div>
